<h1>Check out these cool restaurants where you can seat yo'self!</h1>

<div class="list">
<% @restaurants.each do |restaurant| %>
  <h2><%= restaurant.name %></h2>
  <!-- summary goes here -->
<% end %>
</div>
