/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html
 {
   margin: 0 auto;
   box-sizing: border-box;
   width: 70%;
   background-color: #f7f7f7;
 }

 body
 {
   background-color: white;
   font-family: "Niveau Grotesk", sans-serif;

 }

 header
 {
  overflow: hidden;
  margin: 0;
  background-color: white;
 }

header h1
{
  font-size: 3em;
  color: #d70d49;
  display: inline-block;
}

header h1 strong
{
  color: #2f7b97;
}

header h3
{
  display: inline-block;
  text-align: center;
}

.user-start
{
  float: right;
}

.user-start p
{
  position: relative;
  display: inline-block;
  padding: 10px;
  margin-top: 45px;
}


.user-start p:first-child
{
  background-color: #2f7b97;
  color: white;
  border-radius: 0.2rem;
}

.list
{
  border: 1px solid black;
}
